{% extends "base.html" %}
{% block title %}Album: {{ album.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row vertical-center">
            <div class="col">
                <img src="{{  image_url }}"/>
            </div>
            <div class="col">
                <h1>{{ album.name }}</h1>
                <h3>By {{ album.artist_links() | join(', ') }}</h3>

                <span class="controlbar">{{ album.qr_card_link() }}</span>
                <ol>
                {% for track in album.tracks %}
                    <li>{{ track.link() }} {{ track.preview_element() }}</li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

