{% extends "base.html" %}
{% block title %}Artist: {{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row vertical-center">
            <div class="col">
                <img src="{{  image_url }}"/>
            </div>
            <div class="col">
                <h1>{{ title }} {{ artist.spotify_link_elem() }}</h1>
                <span class="controlbar">
                    <a href="{{ url_for('play', music_type='artist', item_id=artist.id) }}" title="{{ 'Play ' + title }}">
                        <i class="fas fa-play"></i>
                    </a>
                    <a href="{{ url_for('enqueue', music_type='artist', item_id=artist.id) }}" title="{{ 'Enqueue ' + title }}">
                        <i class="fas fa-plus-square"></i>
                    </a>
                    <a href="{{ url_for('radio', music_type='artist', item_id=artist.id) }}" title="{{ 'Artist ' + title }}">
                        <i class="fas fa-brain"></i>
                    </a>
                    <a href="{{ artist.qr_card_url() }}" title="Make QR Card for">
                        <i title='Make QR Card' class='fas fa-qrcode'></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Top Albums:</h2>
                <ul>
                {% for album in albums %}
                    <li>{{ album.link() }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h2>Top Tracks:</h2>
                <ul>
                {% for track in tracks %}
                    <li>{{ track.link() }} {{ track.preview_element() }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h2>Related Artists:</h2>
                <ul>
                {% for artist in related_artists %}
                    <li>{{ artist.link() }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

