{% extends "base.html" %}
{% block title %}Artist: {{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{  image_url }}"/>
            </div>
            <div class="col">
                <h1>{{ title }} {{ artist.spotify_link_element() }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <p>
                    Top Albums:
                    <ul>
                    {% for album in albums %}
                        <li>{{ album.link() }}</li>
                    {% endfor %}
                    </ul>
                </p>
            </div>
            <div class="col">
                Top Tracks:
                <ul>
                {% for track in tracks %}
                    <li>{{ track.link() }} {{ track.preview_element() }}</li>
                {% endfor %}
                </ul>

            </div>
            <div class="col">
                Related Artists:
                <ul>
                {% for artist in related_artists %}
                    <li>{{ artist.link() }}</li>
                {% endfor %}
                </ul>
                <br/>
            </div>
        </div>
    </div>

{% endblock %}
