{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if results %}
                {% if results.artists %}
                    <div class="col">
                        <h2>Artists</h2>
                        <table class="table table-hover table-bordered ">
                            <tbody>
                                {% for artist in results.artists %}
                                    <tr>
                                        <td>{{ artist.link() }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if results.albums %}
                    <div class="col">
                        <h2>Albums</h2>
                        <table class="table table-hover table-bordered ">
                            <tbody>
                                {% for album in results.albums %}
                                    <tr>
                                        <td>{{ album.link() }} </td>
                                        <td>by {{ album.artist_links()|join(', ') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if results.tracks %}
                    <div class="col">
                        <h2>Tracks</h2>
                        <table class="table table-hover table-bordered ">
                            <tbody>
                                {% for track in results.tracks %}
                                    <tr>
                                        <td>{{ track.link() }} {{ track.preview_element() }}</td>
                                        <td>by {{ track.artist_links()|join(', ') }}</td>
                                        <td>{% if track.album %}off of {{ track.album.link() }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if results.playlists %}
                    <div class="col">
                        <h2>Playlists</h2>
                        <table class="table table-hover table-bordered ">
                            <tbody>
                                {% for playlist in results.playlists %}
                                    <tr>
                                        <td>{{ playlist.link() }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% else %}
                <div class="col">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

